@import 'src/app/sass/variables.scss';

.category-container {
  width: 80%;
  height: 300px;
  margin: auto;
  display: flex;
  margin-top: 100px;
  justify-content: space-between;

  .router-link{
    text-decoration: none;
  }
}

.category-card {
  width: 30%;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: none;
}

.category-img {
  width: 200px;
  height: 190px;
}

.card-text {
  text-align: center;
  margin-bottom: 400px;

  .category-name {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
  }

  .link {
    cursor: pointer;
    color: #878787;
    &:hover {
      color: $main-color;
    }
  }
}
