<div class="category-container">
  <mat-card class="category-card" >
      <img mat-card-image class="category-img" src="/assets/image-headphones.png" alt="Photo of headphones">
    <mat-card-content class="card-text" >
      <p class="category-name" >HEADPHONES</p>
      <a class="link" >SHOP <svg style="margin-left: 10px;" width="8" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M1.322 1l5 5-5 5" stroke="#D87D4A" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a>
    </mat-card-content>
  </mat-card>

  <mat-card class="category-card" >
    <img mat-card-image class="category-img" src="/assets/image-speakers.png" alt="Photo of speakers">
    <mat-card-content class="card-text" >
      <p class="category-name" >SPEAKERS</p>
      <a class="link" >SHOP <svg style="margin-left: 10px;" width="8" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M1.322 1l5 5-5 5" stroke="#D87D4A" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a>
    </mat-card-content>
  </mat-card>
  <mat-card class="category-card" >
    <img mat-card-image class="category-img" src="/assets/image-earphones.png" alt="Photo of earphones">
    <mat-card-content class="card-text" >
      <p class="category-name" >EARPHONES</p>
      <a class="link" >SHOP <svg style="margin-left: 10px;" width="8" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M1.322 1l5 5-5 5" stroke="#D87D4A" stroke-width="2" fill="none" fill-rule="evenodd"/></svg></a>
    </mat-card-content>
  </mat-card>

</div>
