<main class="main-container" >
    <div class="first-card" >
        <div class="img-container" >
            <img class="image-speakers" src="/assets/image-speakers.png" >
        </div>
        <app-text-content class="content" [textContent]="textContent" ></app-text-content>
    </div>

    <div class="second-card" >
        <div class="speaker" >
            <h2 class="product-name" >ZX7 SPEAKER</h2>
            <app-button class="basic-btn" ></app-button>
        </div>
    </div>

    <div class="third-card" >
        <div>
            <img src="/assets/image-earphones-yx1.jpg" >
        </div>

        <div class="speaker-container">
            <div class="speaker" >
                <h2 class="product-name">YX1 EARPHONES</h2>
                <app-button></app-button>
        </div>
    </div>
    </div>


</main>